* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #ddd;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

div li button {
  margin-left: 15px;
  background: #ca4949;
}

div input {
  width: 245px;
  padding: 9px 15px;
  font-size: 14px;
  margin: 0 8px 15px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}